<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.legends.form.engine.mapper.FormDeploymentMapper">
    
    <resultMap type="FormDeployment" id="FormDeploymentResult">
        <result property="deployId"    column="deploy_id"    />
        <result property="deployName"    column="deploy_name"    />
        <result property="deployTime"    column="deploy_time"    />
        <result property="status"    column="status"    />
        <result property="tenantId"    column="TENANT_ID"    />
        <result property="source"    column="SOURCE"    />
        <result property="createUser"    column="create_user"    />
        <result property="updateUser"    column="update_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="version"    column="version"    />
    </resultMap>

    <sql id="selectFormDeploymentVo">
        select deploy_id, deploy_name, deploy_time, status, TENANT_ID, SOURCE, create_user, update_user, create_time, update_time, version from form_deployment
    </sql>

    <select id="selectFormDeploymentList" parameterType="FormDeployment" resultMap="FormDeploymentResult">
        <include refid="selectFormDeploymentVo"/>
        <where>  
            <if test="deployName != null  and deployName != ''"> and deploy_name like concat('%', #{deployName}, '%')</if>
            <if test="deployTime != null "> and deploy_time = #{deployTime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="tenantId != null "> and TENANT_ID = #{tenantId}</if>
            <if test="source != null  and source != ''"> and SOURCE = #{source}</if>
            <if test="createUser != null "> and create_user = #{createUser}</if>
            <if test="updateUser != null "> and update_user = #{updateUser}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectFormDeploymentById" parameterType="Long" resultMap="FormDeploymentResult">
        <include refid="selectFormDeploymentVo"/>
        where deploy_id = #{deployId}
    </select>
        
    <insert id="insertFormDeployment" parameterType="FormDeployment">
        insert into form_deployment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deployId != null">deploy_id,</if>
            <if test="deployName != null">deploy_name,</if>
            <if test="deployTime != null">deploy_time,</if>
            <if test="status != null">status,</if>
            <if test="tenantId != null">TENANT_ID,</if>
            <if test="source != null">SOURCE,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="version != null">version,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deployId != null">#{deployId},</if>
            <if test="deployName != null">#{deployName},</if>
            <if test="deployTime != null">#{deployTime},</if>
            <if test="status != null">#{status},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="source != null">#{source},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="version != null">#{version},</if>
         </trim>
    </insert>

    <update id="updateFormDeployment" parameterType="FormDeployment">
        update form_deployment
        <trim prefix="SET" suffixOverrides=",">
            <if test="deployName != null">deploy_name = #{deployName},</if>
            <if test="deployTime != null">deploy_time = #{deployTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="tenantId != null">TENANT_ID = #{tenantId},</if>
            <if test="source != null">SOURCE = #{source},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="version != null">version = #{version},</if>
        </trim>
        where deploy_id = #{deployId}
    </update>

    <delete id="deleteFormDeploymentById" parameterType="Long">
        delete from form_deployment where deploy_id = #{deployId}
    </delete>

    <delete id="deleteFormDeploymentByIds" parameterType="String">
        delete from form_deployment where deploy_id in 
        <foreach item="deployId" collection="array" open="(" separator="," close=")">
            #{deployId}
        </foreach>
    </delete>
    
</mapper>