<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.legends.form.engine.mapper.FormDefinitionMapper">
    
    <resultMap type="FormDefinition" id="FormDefinitionResult">
        <result property="definitionId"    column="definition_id"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="definitionName"    column="definition_name"    />
        <result property="definitionKey"    column="definition_key"    />
        <result property="definitionDesc"    column="definition_desc"    />
        <result property="deploymentId"    column="DEPLOYMENT_ID"    />
        <result property="dataId"    column="data_id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="createUser"    column="create_user"    />
        <result property="updateUser"    column="update_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="version"    column="version"    />
    </resultMap>

    <sql id="selectFormDefinitionVo">
        select definition_id, tenant_id, definition_name, definition_key, definition_desc, DEPLOYMENT_ID, data_id, category_id, create_user, update_user, create_time, update_time, version from form_definition
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.legends.form.engine.domain.FormDefinition">
        <result property="definitionId"    column="definition_id"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="definitionName"    column="definition_name"    />
        <result property="definitionKey"    column="definition_key"    />
        <result property="definitionDesc"    column="definition_desc"    />
        <result property="deploymentId"    column="DEPLOYMENT_ID"    />
        <result property="dataId"    column="data_id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="createUser"    column="create_user"    />
        <result property="updateUser"    column="update_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="version"    column="version"    />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        definition_id, tenant_id, definition_name, definition_key, definition_desc, DEPLOYMENT_ID, data_id, category_id, create_user, update_user, create_time, update_time, version
    </sql>


    <select id="selectFormDefinitionList" parameterType="FormDefinition" resultMap="FormDefinitionResult">
        <include refid="selectFormDefinitionVo"/>
        <where>  
            <if test="tenantId != null "> and tenant_id = #{tenantId}</if>
            <if test="definitionName != null  and definitionName != ''"> and definition_name like concat('%', #{definitionName}, '%')</if>
            <if test="definitionKey != null  and definitionKey != ''"> and definition_key = #{definitionKey}</if>
            <if test="definitionDesc != null  and definitionDesc != ''"> and definition_desc = #{definitionDesc}</if>
            <if test="deploymentId != null "> and DEPLOYMENT_ID = #{deploymentId}</if>
            <if test="dataId != null  and dataId != ''"> and data_id = #{dataId}</if>
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="createUser != null "> and create_user = #{createUser}</if>
            <if test="updateUser != null "> and update_user = #{updateUser}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectFormDefinitionById" parameterType="Long" resultMap="FormDefinitionResult">
        <include refid="selectFormDefinitionVo"/>
        where definition_id = #{definitionId}
    </select>
        
    <insert id="insertFormDefinition" parameterType="FormDefinition" useGeneratedKeys="true" keyProperty="definitionId">
        insert into form_definition
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tenantId != null">tenant_id,</if>
            <if test="definitionName != null">definition_name,</if>
            <if test="definitionKey != null">definition_key,</if>
            <if test="definitionDesc != null">definition_desc,</if>
            <if test="deploymentId != null">DEPLOYMENT_ID,</if>
            <if test="dataId != null">data_id,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="version != null">version,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tenantId != null">#{tenantId},</if>
            <if test="definitionName != null">#{definitionName},</if>
            <if test="definitionKey != null">#{definitionKey},</if>
            <if test="definitionDesc != null">#{definitionDesc},</if>
            <if test="deploymentId != null">#{deploymentId},</if>
            <if test="dataId != null">#{dataId},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="version != null">#{version},</if>
         </trim>
    </insert>

    <update id="updateFormDefinition" parameterType="FormDefinition">
        update form_definition
        <trim prefix="SET" suffixOverrides=",">
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="definitionName != null">definition_name = #{definitionName},</if>
            <if test="definitionKey != null">definition_key = #{definitionKey},</if>
            <if test="definitionDesc != null">definition_desc = #{definitionDesc},</if>
            <if test="deploymentId != null">DEPLOYMENT_ID = #{deploymentId},</if>
            <if test="dataId != null">data_id = #{dataId},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="version != null">version = #{version},</if>
        </trim>
        where definition_id = #{definitionId}
    </update>

    <delete id="deleteFormDefinitionById" parameterType="Long">
        delete from form_definition where definition_id = #{definitionId}
    </delete>

    <delete id="deleteFormDefinitionByIds" parameterType="String">
        delete from form_definition where definition_id in 
        <foreach item="definitionId" collection="array" open="(" separator="," close=")">
            #{definitionId}
        </foreach>
    </delete>
    
</mapper>